# start by ignoring all files
*

# re-include all files that have extensions (to exclude extensionless files)
!/**/
!*.*

# directories
/.venv
/.vscode
/CMakeFiles
/build
/dist

# extensions
*.dll
*.so
*.a
*.exe
*.jpg
*.png
*.gif
*.pal
*.zip

# Files
CMakeCache.txt